<quill-editor theme="snow" [modules]="modules" FormsModule [(ngModel)]="editorText"></quill-editor>
<br />
<button (click)="getContent()">Get Content</button>
<router-outlet></router-outlet>

<br />

{{showAutocomplete}}
<nz-input-group>
  <textarea rows="5" type="text" nz-input placeholder="Type @ to mention someone" [(ngModel)]="inputValue1" (ngModelChange)="onInput($event)" nz-dropdown [nzDropdownMenu]="auto">
  </textarea>
  <nz-dropdown-menu #auto="nzDropdownMenu" *ngIf="true">
    <ul nz-menu>
      <li nz-menu-item *ngFor="let user of filteredUsers">{{user}}</li>
    </ul>
  </nz-dropdown-menu>
  <!-- <nz-autocomplete *ngIf="showAutocomplete" [nzDataSource]="filteredUsers" (selectionChange)="onSelect($event)" #auto></nz-autocomplete> -->
</nz-input-group>

Filtered Users : {{filteredUsers | json}}


<!-- [(ngModel)]="activityName"
(ngModelChange)="onActivityNameChange()" -->
